@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  background-color: #1a1a1a;
  color: white;
}

@font-face {
  font-family: "LeagueSpartan", sans-serif;
  src: url("./fonts/LeagueSpartan.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 5px;
}