
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');

body, html, *{
  margin: 0;
  font-family: 'LeagueSpartan', sans-serif;
}

@font-face {
  font-family: "LeagueSpartan", sans-serif;
  src: url("./fonts/LeagueSpartan.ttf") format("truetype");
}